<div class='profile-wrapper'>
	<div class="profile">
		<img class='profile-meet-the-owner' src="/images/profile-meet-the-owner.svg" height='45' alt="Header: Meet the Owner">
		<img class='profile-portrait' src="/images/profile-portrait.jpg" alt="Portrait of the owner, Betty Mendez">
		<div class="profile-content">
			<h4 class="profile-name">Betty Mendez</h4>
			<p class="profile-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat blanditiis suscipit beatae quaerat? Enim saepe iste provident debitis perspiciatis dolor.</p>
		</div>
	</div>
</div>
