footer {
	background: saturate(darken($color: $brand-color, $amount: 50), 30) url(/images/footerTile.jpg) left top/32px auto;
	height: 20vh;
	color: #EEE;
	padding: 1.25rem 0;

	h1 { margin: 0;}
}
